

#board{
    padding-top: 3rem;
    margin: 1.5rem;
    text-align: center;

}
.square{
    float: left;
    clear: right;
    width: 100px;
    height: 100px;
    clear: right;

}

.row{
    margin: 0 auto;
    width: 302px; 
   
}
.top{
    border-bottom:1px solid black;
    
}

.bottom{
    border-top: 1px solid black;
}

.left{
    border-right: 1px solid black;
}

.right{
    border-left: 1px solid black;
}
    
