



h1{
    font-family: fantasy;
    color: black;
    font-weight: bold;
    
    clear: both;
    margin: 0 auto;
    width: 302px; 
}

.board{
    padding-top: 3rem;
    text-align: center;


}

.row{
    clear: both;
    margin: 0 auto;
    width: 302px; 
    
}

/* all nine cells */
.row > div{
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
}

.top{
    border-bottom:1px solid black;
    
}

.bottom{
    border-top: 1px solid black;
}

.left{
    border-right: 1px solid black;
}

.right{
    border-left: 1px solid black;
}
    
